.chart-container {
    background-image: linear-gradient(to right, rgb(238, 243, 243), rgb(137, 242, 240));
    height: 500px;
    color: rgb(10, 10, 10);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    font-family: "Roboto";
    margin: 80px;
    padding: 10px 10px 10px 10px;
  }
  